<footer class="bg-light text-center text-lg-start p-3 " id="footer">
    <div class="text-center text-secondary">
        Datos de fondos españoles obtenidos de la CNMV - Actualizado hasta {{site.lastQuarter}} - {{site.version}}
    </div>
    <div class="pt-3">
        <form action="https://www.paypal.com/donate" method="post" target="_top" style="display:inline;vertical-align:middle;" class="pr-3">
            <input type="hidden" name="business" value="XVB2NQRYFBJP6" />
            <input type="hidden" name="currency_code" value="EUR" />
            <input type="image" style="vertical-align:middle;" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="Botón Donar con PayPal" />
        </form>
        <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Invítame a un café', '#29abe0', 'L3L345GIL');kofiwidget2.draw();</script> 
    </div>
        
</footer>