<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.isin }} - {{ page.title }} </title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
  {% include navbar.html %}  
  <h1 class="text-center">Fondos con {{ page.title }} {{ page.isin }}</h1>
  <div id="asset-container" class="container">
    <div id="quarter">
      <span id="previous-quarter">◀</span>
      <span id="quarter-date"></span>
      <span id="next-quarter">▶</span>
    </div>

    <table id="positions-table" class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th class="isincolumn">ISIN</th>
          <th>Porcentaje</th>
          <th class="amountcolumn">Cantidad</th>
          <th>Desde</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    {% include scripts.html %}
    {% include comments.html %}
  </div>
  </body>
  <script src="{{ "/assets/js/asset_positions.js" | relative_url }}"> </script>
</html>
