<!DOCTYPE html>
<html lang="{{ site.lang | default: "es" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta charset="utf-8">
    <title> {{page.title}} </title>
    <meta name="description" content="{{page.description}}"/>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{page.absolute_url}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:image" content="{{site.logoImage}}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="invertirenfondos.info">
    <meta property="twitter:url" content="{{page.absolute_url}}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{page.description}}">
    <meta name="twitter:image" content="{{site.logoImage}}">
    
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L8CC7V7T0Z"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-L8CC7V7T0Z');
    </script>
  </head>
  <body>
    {% include navbar.html %}  
    <div id='blog-container' class='container'>
        <h1 class="text-center">Blog</h1>
        <br/>
        <br/>
        {% for post in site.posts %}
        <a href="{{ post.url }}" class="text-white">
          <div class='blog-post jumbotron p-3 p-md-5 text-white rounded bg-dark' style='background-image: linear-gradient(90deg, #00000088 30%, #ffffff44 100%), url({{post.related_image}})'>
              <div class="col-md-6 px-0">
                  <h2 class="blog-post-title display-4 font-italic"> {{ post.title }} </h2>
                  <p class="lead my-3">{{ post.excerpt }}</p>
                  <p class="lead mb-0">
                      <p class="text-white font-weight-bold">Leer más...</p>
                  </p>
              </div>
          </div>
        </a>
        {% endfor %}
    </div>
    {% include scripts.html %}  
    {% include footer.html %}
  </body>
</html>
