<!DOCTYPE html>
<html lang="{{ site.lang | default: "es" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{page.description}}"/>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L8CC7V7T0Z"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-L8CC7V7T0Z');
    </script>
  </head>
  <body>
    {% include navbar.html %}  
    <div id='default-container' class='container'>
    {% include scripts.html %}
      {{content}}
    </div>
    {% include footer.html %}
  </body>
</html>
